<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- hibernate.cfg.xml -->
<!-- The root tag -->
<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<!-- RDMS Url -->
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@patience.cvdumlvcautw.us-east-1.rds.amazonaws.com:1521:orcl
		</property>
		<!-- Username & Password -->
		<property name="hibernate.connection.username">Patience</property>
		<property name="hibernate.connection.password">patiencemygoodman</property>
		<!-- L2 Cache for Hibernate -->
		<property name="hibernate.cache.region.factory_class">
			org.hibernate.cache.ehcache.EhCacheRegionFactory
		</property>
		<!-- Connections allowed per user WARNING: PER USER -->
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="show_sql">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>

		<!-- Entity Mapping -->
		<mapping class="com.revature.beans.Admin" />
		<mapping class="com.revature.beans.Patient" />
		<mapping class="com.revature.beans.Review" />
		<mapping class="com.revature.beans.UserAccount" />
		<mapping class="com.revature.beans.UserPass" />
		<mapping class="com.revature.beans.doctor.DocBackground" />
		<mapping class="com.revature.beans.doctor.DocCerts" />
		<mapping class="com.revature.beans.doctor.DocDegree" />
		<mapping class="com.revature.beans.doctor.DocExperience" />
		<mapping class="com.revature.beans.doctor.Doctor" />
		<mapping class="com.revature.beans.history.BloodPressure" />
		<mapping class="com.revature.beans.history.Diagnosis" />
		<mapping class="com.revature.beans.history.History" />
		<mapping class="com.revature.beans.history.Medication" />
		<mapping class="com.revature.beans.history.Treatment" />
		<mapping class="com.revature.beans.history.Vaccination" />
		<mapping class="com.revature.beans.nurse.Nurse" />
		<mapping class="com.revature.beans.nurse.NurseCerts" />
	</session-factory>
</hibernate-configuration>