<div class="panel panel-login">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <a href="#" class="active" id="login-form-link">Login</a>
      </div>
      <div class="col-sm-6">
        <a href="#" name="register-form-link" id="register-form-link">Register</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="panel-body">
    <form [formGroup]="loginFormGroup" id="login-form" (ngSubmit)='login()' style="display: block;">
      <div class="form-group">
        <input type="text" [(ngModel)]='login_username' name="login_username" id="login_username" tabindex="1" class="form-control" formControlName="username"
          placeholder="Username" value="">
      </div>
      <p class='text-danger' *ngIf='loginFormGroup.controls.username.errors?.required && loginFormGroup.controls.username.touched'>Username is required</p>

      <div class="form-group">
        <input type="password" [(ngModel)]='login_password' name="login_password" id="login_password" tabindex="2" class="form-control" formControlName="password"
          placeholder="Password">
      </div>
      <p class='text-danger' *ngIf='loginFormGroup.controls.password.errors?.required && loginFormGroup.controls.password.touched'>Password is required</p>

      <div class="form-group text-center">
        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
        <label for="remember"> Remember Me</label>
      </div>
      <div class="form-group">
        <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" [disabled]='!loginFormGroup.valid'>Login</button>
      </div>
      <div class="form-group">
        <div class="text-center">
          <a href="#" tabindex="5" name="forgot-password" class="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </form>

    <form [formGroup]="registrationFormGroup" id="register-form" (ngSubmit)='register()' style="display: none;">
      <div class="form-group">
        <input type="text" [(ngModel)]='register_username' name="register_username" id="register_username" tabindex="1" class="form-control" formControlName="username"
          placeholder="Username" value="">
      </div>
      <p class='text-danger' *ngIf='registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched'>Username is required</p>

      <div [formGroup]='registrationPasswordFormGroup'>
        <div class="form-group">
          <input type="password" [(ngModel)]='register_password' required name="register_password" id="register_password" tabindex="2"
            class="form-control" formControlName="password" placeholder="Password">
        </div>
        <p class='text-danger' *ngIf='registrationPasswordFormGroup.controls.password.errors?.required && registrationPasswordFormGroup.controls.password.touched'>Password is required</p>

        <div class="form-group">
          <input type="password" [(ngModel)]='password_confirm' required validateEqual="register_password" name="confirm_password"
            id="confirm_password" tabindex="2" class="form-control" formControlName='passwordconfirm' placeholder="Confirm Password">
        </div>
        <p class='text-danger' *ngIf='registrationPasswordFormGroup.controls.passwordconfirm.errors?.required && registrationPasswordFormGroup.controls.passwordconfirm.touched'>Confirm Password is required</p>
        <p class='text-danger' *ngIf='registrationPasswordFormGroup.errors?.doesMatchPassword'>Password does not match</p>
      </div>

      <div class="form-group">
        <button type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" [disabled]='!registrationFormGroup.valid'>Register</button>
      </div>
    </form>
  </div>
</div>
