<div class="container-fluid">
    <form>

      <div class="form-group">
        <label for="patientlocation">Patient Location:</label>
        <input type="text" class="form-control" id="patientlocation" #patientlocation required [(ngModel)]="patientlocationnew" name="patientlocationnew">
      </div>

      <div class="form-group">
        <label for="patientstatus">Patient Status:</label>
        <select class="form-control" id="patientstatus" name="patientstatusnew" #patientstatus required [(ngModel)]="patientstatusnew">
          <option value="undetermined">Undetermined</option>
          <option value="good">Good</option>
          <option value="fair">Fair</option>
          <option value="serious">Serious</option>
          <option value="critical">Critical</option>
          <option value="deceased">Deceased</option>
        </select>
      </div>   

      <button type="submit" class="btn btn-primary" (click)=editPatientInfo(patientid,patientlocation.value,patientstatus.value)>Submit</button>

    </form> 
    <br>
    <a routerLink="/doctorpage" class="btn btn-info" role="button">Patient List</a>

</div>
