<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <h5>Table of Accounts:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>AccountId</th>
            <th>AccountName</th>
            <th>AccountType</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row" data-href="#">
            <td>1</td>
            <td>Logan</td>
            <td>Patient</td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>2</td>
            <td>Ray</td>
            <td>User</td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>3</td>
            <td>Austin</td>
            <td>Nurse</td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>4</td>
            <td>Andrew</td>
            <td>Doctor</td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>5</td>
            <td>Bobbert</td>
            <td>Admin</td>
          </tr>
        </tbody>
      </table>
      <hr class="d-sm-none">
    </div>
  </div>
</div>
