<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <h5>Table of Accounts:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>AccountName</th>
            <th>AccountType</th>
            <th>Locked/Unlocked</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of allaccounts">
              <td id="accountname">{{account.username}}</td>
              <td id="accountrole">{{account.role}}</td>
              <td>
                <label class="switch">
                  <input type="checkbox" checked (click)=lockUnlockAccount()>
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
        </tbody>
      </table>
      <hr class="d-sm-none">
    </div>
  </div>
</div>
