<div class='row'>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <app-login></app-login>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <app-quick-lookup></app-quick-lookup>
  </div>
  <div class="col-sm-1"></div>
</div>
<div style="text-align: center">
    <a routerLink="/adminpage">admin login</a><br>
    <a routerLink="/doctorpage">doctor login</a><br>
    <a routerLink="/nursepage">nurse login</a><br>
    <a routerLink="/patientpage">patient login</a><br>
    <a routerLink="/userpage">user login</a><br>
</div>