<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>History of Operations:</h5>
      <table class="table table-hover">
        <tr>
          <th>OperationName</th>
          <th>PerformingDoctor</th>
          <th>OperationCost</th>
        </tr>
        <tr>
          <td>FixArm</td>
          <td>Dr.1</td>
          <td>99999</td>
        </tr>
        <tr>
          <td>FixLeg</td>
          <td>Dr.2</td>
          <td>12345</td>
        </tr>
        <tr>
          <td>WaterBottle</td>
          <td>Dr.3</td>
          <td>50</td>
        </tr>
      </table>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <h2>Doctors</h2>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td>Logan</td>
          <td>&#9733;&#9733;&#9733;&#9733;&#9733;</td>
        </tr>
        <tr>
          <td>Ray</td>
          <td>&#9733;&#9733;&#9733;&#9733;&#9734;</td>
        </tr>
        <tr>
          <td>Austin</td>
          <td>&#9733;&#9733;&#9734;&#9734;&#9734;</td>
        </tr>
        <tr>
          <td>Andrew</td>
          <td>&#9733;&#9734;&#9734;&#9734;&#9734;</td>
        </tr>
        <tr>
          <td>Bobbert</td>
          <td>&#9734;&#9734;&#9734;&#9734;&#9734;</td>
        </tr>
      </table>
      <br>
      <h2>Nurses</h2>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td>Logan</td>
          <td>&#9734;&#9734;&#9734;&#9734;&#9734;</td>
        </tr>
        <tr>
          <td>Ray</td>
          <td>&#9733;&#9734;&#9734;&#9734;&#9734;</td>
        </tr>
        <tr>
          <td>Austin</td>
          <td>&#9733;&#9733;&#9734;&#9734;&#9734;</td>
        </tr>
        <tr>
          <td>Andrew</td>
          <td>&#9733;&#9733;&#9733;&#9733;&#9734;</td>
        </tr>
        <tr>
          <td>Bobbert</td>
          <td>&#9733;&#9733;&#9733;&#9733;&#9733;</td>
        </tr>
      </table>
    </div>
  </div>
</div>
