<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>History of Operations:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>OperationName</th>
            <th>PerformingDoctor</th>
            <th>OperationCost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>FixArm</td>
            <td>Dr.1</td>
            <td>99999</td>
          </tr>
          <tr>
            <td>FixLeg</td>
            <td>Dr.2</td>
            <td>12345</td>
          </tr>
          <tr>
            <td>WaterBottle</td>
            <td>Dr.3</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <app-doctor-sidepanel></app-doctor-sidepanel>
      <app-nurse-sidepanel></app-nurse-sidepanel>
    </div>
  </div>
</div>
