<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>History of Operations:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>HistoryAge</th>
            <th>HistoryWeight</th>
            <th>HistoryHeight</th>
            <th>HistoryBloodPressureCondition</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of allHistories">
                <td id="historyage">{{history[0].age}}</td>
                <td id="historyweight">{{history[0].weight}}</td>
                <td id="historyheight">{{history[0].height}}</td>
                <td id="historybpcondition">{{history[0].bloodPressureCondition}}</td>
              </tr>
        </tbody>
      </table>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <app-doctor-sidepanel></app-doctor-sidepanel>
      <app-nurse-sidepanel></app-nurse-sidepanel>
    </div>
  </div>
</div>
