  <form id="quicklookup-form" (ngSubmit)='lookup()' style="display: block;">
    <div class="form-group">
      <input type="text" [(ngModel)]='searchText' name="search" id="search" tabindex="1" class="form-control" placeholder="Search..."
        value="">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 offset-3">
          <button type="submit" name="quick-lookup-submit" id="quick-lookup-submit" tabindex="4" class="form-control btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </form>
