<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="shadow p-3 mb-5 rounded form-group">
    <div class="rating" (click)="rating()">
        <label name="rate5">
            <input ngModel #rate5="ngModel" type="radio" name="rating" value="5" title="5 stars"> 5
        </label>
        <label name="rate4">
            <input ngModel #rate4="ngModel" type="radio" name="rating" value="4" title="4 stars"> 4
        </label>
        <label name="rate3">
            <input ngModel #rate3="ngModel" type="radio" name="rating" value="3" title="3 stars"> 3
        </label>
        <label name="rate2">
            <input ngModel #rate2="ngModel" type="radio" name="rating" value="2" title="2 stars"> 2
        </label>
        <label name="rate1">
            <input ngModel #rate1="ngModel" type="radio" name="rating" value="1" title="1 star"> 1
        </label>
        <h6>click to rate</h6>
    </div>

    <div class="center">
        <h6 for="review">Review</h6>
        <textarea ngModel name="reviewTxtArea" #review="ngModel" class="form-control" id="review" rows="3"></textarea>
    </div>
    <div class="center">
        <button name="reviewSubmitBtn" (click)="submitReview(review, rate1)" type="button" class="btn btn-outline-dark my-2 my-sm-0">Submit</button>
        <button type="button" class="btn btn-outline-dark my-2 my-sm-0">Reset</button>
    </div>
</form>