<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>180618_Servlets_P2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description></description>
    <display-name>SearchResultsServlet</display-name>
    <servlet-name>SearchResultsServlet</servlet-name>
    <servlet-class>com.revature.servlets.SearchResultsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchResultsServlet</servlet-name>
    <url-pattern>/SearchResultsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>getUsersPatientsServlet</display-name>
    <servlet-name>getUsersPatientsServlet</servlet-name>
    <servlet-class>com.revature.servlets.getUsersPatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUsersPatientsServlet</servlet-name>
    <url-pattern>/getUsersPatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPatientServlet</display-name>
    <servlet-name>editPatientServlet</servlet-name>
    <servlet-class>com.revature.servlets.editPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPatientServlet</servlet-name>
    <url-pattern>/editPatientServlet</url-pattern>
  </servlet-mapping>
</web-app>
