<nav class="navbar navbar-expand-lg navbar-light bg-danger text-dark">
  <div class="pull-sm-left">
    <a class="navbar-brand" href="#">Patience</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
  <form class="form-inline nav-form my-2 my-lg-0 mx-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="dropdown" dropdown placement="bottom right">
      <img dropdownToggle src="https://cdn2.iconfinder.com/data/icons/set-of-menu-icon/512/menu_lines_Bullet_Hamburger_-512.png" width="40" height="40">
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="button-alignment">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
</nav>