<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>Patient Name Here:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>PatientName</th>
            <th>PatientStatus</th>
            <th>PatientLocation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patientsUsers">
            <td id="patientname">{{patient.name}}</td>
            <td id="patientstatus">{{patient.status}}</td>
            <td id="patientlocation">{{patient.location}}</td>
          </tr>
        </tbody>
      </table>

      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <app-doctor-sidepanel></app-doctor-sidepanel>
      <app-nurse-sidepanel></app-nurse-sidepanel>
    </div>
  </div>
</div>
