<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>Patient Name Here:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>PatientLocation</th>
            <td id="patientlocation">Room 1231</td>
          </tr>
          <tr>
            <th>PatientStatus</th>
            <td id="patientstatus">Operating Room</td>
          </tr>
        </thead>
        <tbody>
            <tr routerLink="/profile">
                <th>PatientName</th>
                <td id="patientname">Logan Brewer</td>
              </tr>
        </tbody>

      </table>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="fetchUserPatientsByUserName('logan', '3rd floor', 'moving to ER')">
        <i class="fa fa-search"></i>
        Update Patient
      </button>

      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <app-doctor-sidepanel></app-doctor-sidepanel>
      <app-nurse-sidepanel></app-nurse-sidepanel>
    </div>
  </div>
</div>
