<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h5>Patient Name Here:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>PatientLocation</th>
            <td>Room 1231</td>
          </tr>
          <tr>
            <th>PatientStatus</th>
            <td>Operating Room</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>PatientName</th>
            <td>Logan Brewer</td>
          </tr>
        </tbody>

      </table>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-4">
      <app-doctor-sidepanel></app-doctor-sidepanel>
      <app-nurse-sidepanel></app-nurse-sidepanel>
    </div>
  </div>
</div>
