<h1>Profile Information</h1>
<img src="https://www.browardhealth.org/-/media/Broward-Health/placeholder/Doctor-placeholder-male.jpg" alt="Doctor-placeholder-male" height="192" width="192"><br />
<table>
  <tr><th>Name:</th><td>{{data.name}}</td></tr>
  <tr><th>Degrees:</th><td>{{data.degrees}}</td></tr>
  <tr><th>Certifications: </th><td>{{data.certifications}}</td></tr>
  <tr><th>Experience:</th><td>{{data.experience}}</td></tr>
  <tr><th>Department:</th><td>{{data.department}}</td></tr>
</table>
